#hero-section {
  background-image: url("assets/images/titelbild-startseite.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

#hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-section-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: var(--padding);
}

.fadein-animation {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-section-container--text {
  color: white;
  text-align: center;
}

.hero-section-container--text span {
  font-weight: 350;
  font-size: clamp(1.5rem, 3vw + 0.5rem, 2.5rem);
  color: white;
}

.hero-section-container--buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
