@font-face {
  font-family: "Source Sans 3";
  font-weight: 100 700;
  font-style: normal;
  src: url("../assets/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf")
    format("truetype");
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-pink);
}

.headline_eyebrow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.headline_eyebrow.centered {
  text-align: center;
}
