---
layout: faqlayout
title: "Häufig gestellte Fragen"
description: "Erfahren Sie welche Kurtermine zur Verfügung stehen."
---

{% assign kategorien = "Allgemeine Frage, Kurablauf, Organisatorisches, Essen und Trinken, An- und Abreise, Kurklinik und Ausstattung, Kinder und Betreuung, Angebote in besonderen Lebenslagen" | split: ", " %}

{% for kategorie in kategorien %}
<details class="fragen-container">
  <summary class="fragen-kategorie"><h2>{{ kategorie }}</h2></summary>

  {% for item in site.haeufige_fragen %}
    {% if item.kategorie == kategorie %}
      <details class="fragen-container--element">
        <summary><strong>{{ item.frage }}</strong></summary>
        {{ item.content | markdownify }}
      </details>
    {% endif %}
  {% endfor %}
</details>
{% endfor %}

<!--
oder so:

im frontmatter dieser Datei:

kategorien:
  - Allgemeine Frage
  - Kurablauf
  - Organisatorisches
  - Essen und Trinken
  - An- und Abreise
  - Kurklinik und Ausstattung
  - Kinder und Betreuung
  
dann das im html:

{% for kategorie in page.kategorien %}
  {{ kategorie }}
{% endfor %}
-->