---
layout: default
title: "Gästebucheintrag – Evangelische Müttergenesung in Württemberg"
description: "Wir freuen uns über jedes Feedback."
---

<div class="headline-wrapper">
  <div class="headline_eyebrow centered">
    <h1>Gästebuch</h1>
    <p>
      Wir freuen uns über jedes Feedback, das wir von unseren Patientinnen
      erhalten.
    </p>
    <a href="/gaestebucheintrag.html" class="button text"
      >Gästebucheintrag schreiben&nbsp;&rarr;</a
    >
  </div>
</div>

<div class="outter-wrapper gaestebucheintraege">
  <!-- FILTER -->
  <div class="kurtermine-filter">
    <button data-filter="alle">
      Alle anzeigen ({{ site.gaestebuch | size }})
    </button>
    <button data-filter="loßburg">
      Loßburg ({{ site.gaestebuch | where: "ort", "Loßburg" | size }})
    </button>
    <button data-filter="scheidegg">
      Scheidegg ({{ site.gaestebuch | where: "ort", "Scheidegg" | size }})
    </button>
    <button data-filter="bad wurzach">
      Bad Wurzach ({{ site.gaestebuch | where: "ort", "Bad Wurzach" | size }})
    </button>
  </div>

  <!-- EINTRÄGE GENERIEREN -->
  {% for item in site.gaestebuch reversed %}
  <div class="gaestebucheintrag" data-klinik="{{ item.ort | downcase }}">
    <div>
      <strong>
        {% if item.ort == "Bad Wurzach" %} Frauen- und Mütterkur {{ item.ort }}
        {% else %} Mutter-Kind-Kur {{ item.ort }} {% endif %}
      </strong>
    </div>
    <div>{{ item.content | markdownify }}</div>
    <div><small>{{ item.datum }}</small></div>
  </div>
  {% endfor %}
</div>
