---
layout: startseite
title: "Mutter-Kind-Kur – Evangelische Müttergenesung in Württemberg"
description: "Alles zur Müttergenesungskur: Voraussetzungen, Kliniken, Kurtermine und Tipps zur Antragstellung."
---

<section id="hero-section">
  <div class="hero-section-container fadein-animation">
    <div class="hero-section-container--text">
      <img
        src="assets/icons/herz-hand.svg"
        alt="Symbol: Eine Hand hält ein Herz"
        width="100px"
      />
      <h1>
        <span>Herzlich Willkommen bei der</span>
        <br />Evangelischen Müttergenesung <br />in Württemberg
      </h1>
    </div>
    <div class="hero-section-container--buttons">
      <a href="unsere-kurkliniken.html" class="button primary"
        >Kurkliniken entdecken</a
      >
      <a href="stellenanzeigen.html" class="button ghost blur"
        >Stellenanzeigen</a
      >
    </div>
  </div>
</section>

<div class="outter-wrapper section-gap">
  <section id="intro-section">
    <div class="intro-section-container">
      <div class="intro-section-container--text">
        <div class="headline_eyebrow">
          <p class="eyebrow">Wohlfühlen, entspannen, auftanken</p>
          <h2>Mütter brauchen Energie. <br />Viel Energie!</h2>
        </div>
        <p>
          Viele Frauen leisten täglich enorm viel: für ihre Kinder, im Haushalt,
          im Beruf – oft auch in der Pflege von Angehörigen. Wenn dann noch eine
          Krankheit oder Krise hinzukommt, wird es schnell zu viel. Eine Auszeit
          hilft. In unseren Frauen- und Mütterkurkliniken oder
          Mutter-Kind-Kurkliniken finden Frauen neue Kraft.
        </p>
        <p>
          Frauen und Mütter stärken, Krankheiten heilen und vorbeugen. Die
          Evangelische Müttergenesung in Württemberg bietet ganzheitliche
          Angebote zur Prävention und Rehabilitation – speziell für Frauen und
          Mütter.
        </p>
        <div class="button-wrapper">
          <a href="/kurtermine.html" class="button text"
            >Zu unseren Kurterminen&nbsp;&rarr;</a
          >
        </div>
        <div class="button-wrapper">
          <a href="/faq.html" class="button text"
            >Häufig gestellte Fragen&nbsp;&rarr;</a
          >
        </div>
      </div>
      <div class="intro-section-container--image">
        <img
          src="{{'assets/images/illustration_superkraft.svg' | relative_url}}"
          alt="Illustration: Eine Frau mit Cape, Symbol für die Stärke von Müttern"
        />
      </div>
    </div>
  </section>

  <section class="kurkliniken-section">
    <div class="headline_eyebrow centered">
      <p class="eyebrow">Gesundheit, Prävention und Rehabilitation</p>
      <h2>Unsere Evangelischen Kurkliniken</h2>
    </div>

    <div class="kurkliniken-section-grid-container">
      {% for item in site.data.kurkliniken-grid %}

      <div class="kurkliniken-section-grid-container--element">
        <a href="{{ item.linkurl }}">
          <div
            class="kurkliniken-section-grid-container--element--img {{ item.css-klasse }}"
          >
            <div class="mutter-kind-icons-container">
              <img class="mutter-kind-icons-container--element" src= "{{
              item.icon-mutter | relative_url }}"" alt="" /> {% if
              item.icon-kind != "" %}
              <img
                class="mutter-kind-icons-container--element"
                src="{{ item.icon-kind | relative_url }}"
                alt=""
              />
              {% endif %}
            </div>
          </div>

          <div class="kurkliniken-section-grid-container--element--text">
            <h3>{{ item.titel }}</h3>
            <p>{{ item.beschreibung }}</p>

            <div class="button text">{{ item.linktext }}&nbsp;&rarr;</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
