---
layout: startseite
title: "Neues aus der Müttergenesung – Evangelische Müttergenesung in Württemberg"
description: "Erfahren Sie was es Neues in der Evangelischen Müttergenesung in Württemberg gibt"
---

<div class="headline-wrapper">
  <div class="headline_eyebrow centered">
    <h1>Neues aus der Müttergenesung</h1>
  </div>
</div>

<div class="outter-wrapper section-gap">
  <section id="mailingliste">
    <div class="mailingliste-outter-container">
      <div class="mailingliste-container--bild">
        <img
          src="{{'assets/images/illustration_mailingliste.svg' | relative_url}}"
          alt=""
        />
      </div>
      <div class="mailingliste-container--text">
        <div class="headline_eyebrow">
          <p class="eyebrow">Immer auf dem neusten Stand</p>
          <h2>Mailingliste</h2>
        </div>

        <p>
          Sie möchten informiert werden, wenn es einen neuen Beitrag gibt?
          Schreiben Sie uns, dann tragen wir Sie in unsere Mailingliste ein.
        </p>
        <div class="button-wrapper">
          <a href="" class="button text">In Mailingliste eintragen</a>
        </div>
      </div>
    </div>
  </section>

  <section class="kurtermine-section-grid-container">
    {% for post in site.posts %}
    <div class="kurtermine-section-grid-container--element">
      <a href="{{ post.url }}">
        <div class="kurkliniken-section-grid-container--element--blog-img">
          <img src="{{post.bild | relative_url }}" alt="" />
        </div>
        <div class="kurkliniken-section-grid-container--element--text">
          <small>
            {{ post.date | date: "%d.%m.%Y" }} • {% assign words = post.content
            | number_of_words %} {% assign minutes = words | divided_by:150 %}
            {% if minutes < 1 %} Lesedauer: 1 Min {% else %} Lesedauer: {{
            minutes }} Min {% endif %}
          </small>
          <h3>{{post.title}}</h3>
          <p>{{post.teaser}}</p>
          <p class="button text">Beitrag lesen&nbsp;&rarr;</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>
</div>
