---
layout: startseite
title: "Neues aus der Müttergenesung – Evangelische Müttergenesung in Württemberg"
description: "Erfahren Sie was es Neues in der Evangelischen Müttergenesung in Württemberg gibt"
---

<div class="headline-wrapper">
  <div class="headline_eyebrow centered">
    <a href="/index" class="button text">&larr; Zurück zur Startseite</a>
    <h1>Neues aus der Müttergenesung</h1>
    <p>
      Sie möchten informiert werden, wenn es einen neuen Beitrag gibt?
      <br />Schreiben Sie uns ein Mail an
      <a href="mailto:muettergenesung-kur@studio-feiler.com" class="button text"
        >muettergenesung-kur@studio-feiler.com</a
      >, dann tragen wir Sie in unsere Mailingliste ein.
    </p>
    <div class="button-wrapper"></div>
  </div>
</div>

<div class="outter-wrapper section-gap">
  <section class="kurtermine-section-grid-container">
    {% for post in site.posts %}
    <div class="kurtermine-section-grid-container--element">
      <a href="{{ post.url }}">
        <div class="kurkliniken-section-grid-container--element--blog-img">
          <img src="{{post.bild | relative_url }}" alt="" loading="lazy" />
        </div>
        <div class="kurkliniken-section-grid-container--element--text">
          <small>
            {{ post.date | date: "%d.%m.%Y" }} • {% assign words = post.content
            | number_of_words %} {% assign minutes = words | divided_by:150 %}
            {% if minutes < 1 %} Lesedauer: 1 Min {% else %} Lesedauer: {{
            minutes }} Min {% endif %}
          </small>
          <h3>{{post.title}}</h3>
          <p>{{post.teaser}}</p>
          <p class="button text">Beitrag lesen&nbsp;&rarr;</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>
</div>
