<div class="footer-content outter-wrapper">
  <ul class="footer-nav">
    <li><a href="kontakt.html">Kontakt</a></li>
    <li><a href="{{'/impressum/' | relative_url}}">Impressum</a></li>
    <li><a href="{{'/datenschutz/' | relative_url}}">Datenschutz</a></li>
    <li>
      <a href="{{'/barrierefreiheit/' | relative_url}}">Barrierefreiheit</a>
    </li>
    <li><a href="stellenanzeigen.html">Stellenanzeigen</a></li>
    <li><a href="{{'/spenden/' | relative_url}}">Spenden</a></li>
    <li>
      <a
        href="https://www.instagram.com/muettergenesung_wuerttemberg/"
        target="_blank"
        title="Öffnet in neuem Tab"
        rel="noopener noreferrer"
        aria-label="Zur externen Seite – öffnet in neuem Tab"
        class="instagram-link"
      >
        Instagram
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
          aria-hidden="true"
          focusable="false"
        >
          <path d="M18 13v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
          <polyline points="15 3 21 3 21 9" />
          <line x1="10" y1="14" x2="21" y2="3" />
        </svg>
      </a>
    </li>
  </ul>

  <span>
    Diese Seite wurde mit HTML, CSS und JavaScript gemacht. Ganz ohne unnötigen
    Schnickschnack. Einfach, funktional und umweltfreundlich. Weniger Code,
    weniger Energieverbrauch 💚
  </span>
  <p>© 2025 Müttergenesung in Württemberg</p>
</div>
