<div class="outter-wrapper">
  <header>
    <a href="/index.html" 
    class="logo">
      <img
        src="{{ '/assets/logo/Muettergenesung_logo.svg' | relative_url }}"
        alt="Logo der Evangelischen Müttergenesung Württemberg"
      />
    </a>

    <nav id="desktop-nav" aria-label="Hauptnavigation (Desktop)">
      <ul class="main-nav">
        {% for item in site.data.navigation %}
          <li>
            <a href="{{ item.url | relative_url}}"
              {% if page.url == item.url or page.url == '/' and item.url == 'index.html' %}
                class="active"
                aria-current="page"
              {% endif %}
            >
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>


    <nav class="mobile-nav" aria-label="Hauptnavigation (Mobil)">
      <button id="burger-icon" aria-label="Menü öffnen" class="icon-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="3" y1="6" x2="21" y2="6" />
          <line x1="3" y1="12" x2="21" y2="12" />
          <line x1="3" y1="18" x2="21" y2="18" />
        </svg>
      </button>

      <div id="mobile-overlay" class="outter-wrapper">
        <div class="button-wrapper">
          <button
            id="close-icon"
            aria-label="Menü schließen"
            class="icon-button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <line x1="18" y1="6" x2="6" y2="18" />
              <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
          </button>
        </div>


        <ul>
          {% for item in site.data.navigation %}
            <li>
              <a href="{{ item.url }}"
                {% if page.url == item.url or page.url == '/' and item.url == 'index.html' %}
                  class="active"
                  aria-current="page"
                {% endif %}
              >
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
              
      </div>
    </nav>
  </header>
</div>
