<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="{{ page.description }}" />

<meta
  name="keywords"
  content="{{ page.keywords | default: site.keywords | default: 'Müttergenesungskur, Mutter-Kind-Kur, Reha, Evangelische Müttergenesung, Erholung für Mütter' }}"
/>

<meta name="author" content="Evangelische Müttergenesung in Württemberg" />

<title>{{ page.title }}</title>

<script
  src="https://kit.fontawesome.com/81f652e334.js"
  crossorigin="anonymous"
></script>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />

<link rel="stylesheet" href="{{ '/assets/css/buttons.css' | relative_url }} " />
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }} " />
<link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }} " />
<link rel="stylesheet" href="{{ '/assets/css/hero.css' | relative_url }} " />
<link
  rel="stylesheet"
  href="{{ '/assets/css/kurkliniken.css' | relative_url }} "
/>
<link
  rel="stylesheet"
  href="{{ '/assets/css/responsive.css' | relative_url }} "
/>
<link
  rel="stylesheet"
  href="{{ '/assets/css/typography.css' | relative_url }} "
/>

<!-- <script src="js/login.js"></script> -->
<script src="js/script.js" defer></script>
<script src="js/klinikfilter.js" defer></script>
