<section id="usp-section">
  <div class="usp-section-content outter-wrapper">
    <div class="usp-section-content--button">
      <a href="/spenden">
        <div class="spenden-button-headline">
          <h3>Spenden</h3>
          <img
            src="{{'/assets/icons/material_icons/favorite.svg' | relative_url}}"
            alt=""
          />
        </div>

        <p>
          Wir sind dankbar, wenn Sie unsere wichtige Arbeit durch eine Spende
          unterstützen.
        </p>
        <span>Jetzt spenden&nbsp;→</span></a
      >
    </div>

    <div class="usp-section-content--container">
      <div class="headline_eyebrow">
        <p class="eyebrow">Für Frauen und Mütter</p>
        <h2>Das Besondere an unseren Kuren für Sie auf einen Blick</h2>
      </div>

      <div class="usp-section-content--container-grid">
        {% for item in site.data.auf-einen-blick %}
        <div class="usp-section-content--container-grid--element">
          <h3>{{ item.titel }}</h3>
          <p>{{ item.beschreibung }}</p>
          <div class="button-wrapper">
            <a href="{{ item.linkurl | relative_url }}" class="button text"
              >{{ item.linktext }}&nbsp;→</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
