<section id="faq-section">
  <div class="faq-section--content outter-wrapper">
    <div>
      <img
        src="/assets/icons/icon_frage.svg"
        alt="Symbol: Fragezeichen"
        width="80px"
      />
      <h2>Häufig gestellte Fragen</h2>
    </div>

    <p>
      Was muss ich tun, um eine Kur zu beantragen? Wann ist die Anreise? Wie
      sind die Betreuungszeiten der Kinderbetreuung? Bekomme ich eine
      Bescheinigung für meinen Arbeitgeber und die Schule? Diese und weitere
      Fragen beantworten wir Ihnen hier:
    </p>
    <div class="button-wrapper">
      <a href="" class="button ghost">Zu den Fragen</a>
    </div>
  </div>
</section>
