/* 
Loßburg => color-green: #a1c049;
Bad Wurzach => color-orange: #d87e32;
Scheidegg => color-blue: #586eb0;
*/

/* diese Klasse füllt die img-container unter
"Unsere Evangelischen Kurkliniken" auf der Startseite */
.lossburg,
.scheidegg,
.bad-wurzach {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lossburg {
  color: var(--color-green);
  background-image: url("../images/titelbild_lossburg.jpg");
}

.scheidegg {
  color: var(--color-blue);
  background-image: url("../images/titelbild_scheidegg.jpg");
}

.bad-wurzach {
  color: var(--color-orange);
  background-image: url("../images/titelbild_badwurzach.jpg");
}

.mutter-kind-icon.icon-lossburg {
  color: var(--color-green);
}
.mutter-kind-icon.icon-scheidegg {
  color: var(--color-blue);
}
.mutter-kind-icon.icon-badwurzach {
  color: var(--color-orange);
}

.job-bild {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/00_testbilder/pexels-dmitry-demidov-515774-3852577.jpg");
}

/* LANDINGPAGEES der einzelnen Kurkliniken 
======================================================================= */

.headline_eyebrow.centered.in-landingpage-hero {
  background-color: white;
  padding: var(--padding);
  display: inline-block;
}

.kurklinik-einleitung-section,
.bildergalerie-section {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}
.text-columns {
  column-count: 2;
  column-gap: 2rem;
}

@media (max-width: 700px) {
  .text-columns {
    column-count: 1;
  }
}

.text-columns p {
  margin-bottom: 1.5em;
}

.download-flyer-container {
  background-image: url("../images/hintergrundbild_christlichesprofil.jpg");
  padding: var(--section-gap) 2rem;
  margin-top: var(--section-gap);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simple-content-container.download {
  width: auto;
  max-width: 100%;
  margin: auto 0;
  text-align: center;
  align-items: center;
  max-width: 700px;
  gap: 1rem;
}
