name: Notify via Telegram on new commit

on:
  push:
    branches:
      - main

jobs:
  telegram:
    runs-on: ubuntu-latest

    steps:
      - name: Send Telegram notification
        run: |
          MESSAGE="Neuer Commit von ${{ github.actor }}\n${{ github.event.head_commit.message }}"

          curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage \
            -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
            -d parse_mode="Markdown" \
            -d text="$MESSAGE"
